<div class="container">
  <div class="row margin-top">
    <div class="col-8">
      <h1 class="title margin-top red-text heading-font">About</h1>
      <p>The Carry On series primarily consists of 31 classic British comedy motion pictures (1958–92), four Christmas specials, a television series of thirteen episodes, and three West End and provincial stage plays. The films' humour was in the British comic tradition of the music hall and bawdy seaside postcards. Producer Peter Rogers and director Gerald Thomas drew on a regular group of actors, the Carry On team, that included Sid James, Kenneth Williams, Charles Hawtrey, Joan Sims, Kenneth Connor, Peter Butterworth, Hattie Jacques, Terry Scott, Bernard Bresslaw, Barbara Windsor, Jack Douglas, and Jim Dale.</p>
    </div>
    <div class="col-2">
      <img  class="margin-top" src="{{ peter }}" alt="">
    </div>
  </div>
  <div class="row margin-top">
      <div class="col-8">
        <p>The Carry On series contains the largest number of films of any British series, and it is the longest continually running UK film series, although with a fourteen-year break (1978–92). Anglo Amalgamated Film Distributors Ltd produced twelve films (1958–66), the Rank Organisation made eighteen (1966–78) and United International Pictures made one (1992).</p>
    </div>
  </div>
  <div class="row margin-top">
      <div class="col-8">
        <p>Producer Peter Rogers and director Gerald Thomas made all 31 films, usually on time and to a strict budget, and often employed the same crew. Between 1958 and 1992, the series employed seven writers, most often Norman Hudis (1958–62) and Talbot Rothwell (1963–74). In between the films, Rogers and Thomas produced four Christmas specials in 1969, 1970, 1972, and 1973, a thirteen episode television series in 1975, and various West End stage shows which later toured the regions.</p>
      </div>
  </div>
  <div class="row margin-top">
      <div class="col-8">
        <p>All the films were made at Pinewood Studios near Iver Heath, Buckinghamshire. Budgetary constraints meant that a large proportion of the location filming was undertaken close to the studios in and around south Buckinghamshire, including areas of Berkshire and Middlesex. However, by the late 1960s (at the height of the franchise's success) more ambitious plots occasionally necessitated locations further afield, which included Snowdonia National Park, Wales, (with the foot of Mount Snowdon standing in for the Khyber Pass in Carry On Up the Khyber), and the beaches of the Sussex coast doubling as Saharan sand dunes in Follow That Camel.</p>
      </div>
  </div>
</div>

