<div class="container">
  <div class="row margin-top">
    <div class="col-8">
      <h1>Kenneth Williams</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>Kenneth Charles Williams (22 February 1926 – 15 April 1988) was an English actor, best known for his comedy roles and in later life as a raconteur and diarist. He was one of the main ensemble in 26 of the 31 Carry On films, and appeared in many British television programmes and radio comedies, including series with Tony Hancock and Kenneth Horne.[1][2]</p>
      <p>Williams grew up in Central London to a working class family. He served in the Royal Engineers during World War II, where he first became interested in becoming an entertainer. After a short spell in repertory theatre as a serious actor, he turned to comedy and achieved national fame in Hancock's Half Hour, appearing throughout the radio series' run. He sustained continued success throughout the 1960s and '70s with his regular appearances in Carry On films, and subsequently kept himself in the public eye with chat shows and other television work.</p>
      <p>Though Williams was fondly regarded in the entertainment industry, he suffered from depression and found it hard to come to terms with his homosexuality, leading to his death in 1988 after an overdose. He kept a series of diaries throughout his life that achieved posthumous acclaim.</p>
    </div>
    <div class="col-2">
      <img src="{{ kennethWilliams }}" alt="">
    </div>
  </div>

  <div class="row margin-top">
      <div class="col-10">
        <h1 class="right">Joan Sims</h1>
      </div>
  </div>
    
  <div class="row">
      <div class="col-2">
          <img src="{{ joanSims }}" alt="">
      </div>
      	<div class="col-8">
        <p>Irene Joan Marion Sims (9 May 1930 – 27 June 2001), best known as Joan Sims, was an English actress remembered for her roles in the Carry On films, including Carry On Nurse (1959), Carry On Cleo (1964) and Carry On Camping (1969). She played Mrs. Wembley, the cook with a liking for sherry in On the Up (1990–92), and Madge Hardcastle in As Time Goes By (1994–98).</p>
        <p>Sims was born in 1930, the only child of John Henry Sims (1888-1964), station master of Laindon railway station in Laindon, Essex,[1][2] and his wife Gladys Marie Sims, née Ladbrook (1896-1981). Sims's early interest in being an actress came from living at the railway station. She would often put on performances for waiting passengers. She decided that she wanted to pursue show business during her teens, and soon became a familiar face in a growing number of amateur productions locally. One of her first stage appearances was as Miranda Bute in the Langdon Players production of Ester McCracken's comedy 'Quiet Wedding' in May 1946.</p>
        <p>In 1946, Sims first applied to RADA, but her audition was unsuccessful. Her first audition included a rendition of Winnie the Pooh. She did succeed in being admitted to PARADA, the academy's preparatory school, and finally, on her fourth attempt, she graduated and was trained at RADA.[1] She graduated from RADA in 1950 at the age of 19.[3] One of her first stage performances was in the 1951 pantomime, The Happy Ha'penny, opposite Stanley Baxter at Glasgow's Citizens Theatre.[4]</p>
      </div>
  </div>

  <div class="row margin-top">
      <div class="col-8">
        <h1>Charles Hawtrey</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <p>George Frederick Joffre Hartree (30 November 1914 – 27 October 1988), known as Charles Hawtrey, was an English comedy actor and musician. Beginning at an early age as a boy soprano, he made several records before moving on to the radio. His later career encompassed the theatre (as both actor and director), the cinema (where he regularly appeared supporting Will Hay in the 1930s and 1940s in films such as The Ghost of St. Michael's), through the Carry On films, and television.</p>
        <p>Born in Hounslow, Middlesex, England in 1914, to William John Hartree (1885-1952) and his wife Alice Hartree (née Crow) (1880-1965) as George Frederick Joffre Hartree, he took his stage name from the theatrical knight, Sir Charles Hawtrey, and encouraged the suggestion that he was his son. However, his father was actually a London car mechanic.[1]</p>
        <p>Following study at the Italia Conti Academy of Theatre Arts in London, he embarked on a career in the theatre as both actor and director.</p>
      </div>
      <div class="col-2">
        <img src="{{ charlieHawtrey }}" alt="">
      </div>
    </div>

    <div class="row margin-top">
        <div class="col-10">
          <h1 class="right">Sid James</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="{{ sidJames }}" alt="">
        </div>
          <div class="col-8">
          <p>Sid James (born Solomon Joel Cohen; 8 May 1913 – 26 April 1976) was a South African-born British character actor[1] and comedy actor. Appearing in British films from 1947, he was cast in numerous small and supporting roles into the 1960s. His profile was raised as Tony Hancock's co-star in Hancock's Half Hour, first in the radio series and later when it was adapted for television and ran from 1956 to 1960. Afterwards, he became known as a regular performer in the Carry On films, appearing in nineteen films of the series, with the top billing role in 17 (in the other two he was cast below Frankie Howerd). Meanwhile, his starring roles in television sitcoms continued for the rest of his life. He starred alongside Diana Coupland in the 1970s sitcom Bless This House until his death in 1976.</p>
          <p>Remembered for a lascivious persona in the Carry On films, with the Snopes website describing him as "the grand old man of dirty laughter",[2] he became known for his amiability in his later television work. Bruce Forsyth described him as "a natural at being natural".[3]</p>
          <p>On 26 April 1976, while touring in The Mating Season, James suffered a heart attack while performing on stage at the Sunderland Empire Theatre; he died in hospital an hour later. Some, including comedian Les Dawson, claim to have seen the ghost of James at the theatre, and subsequently refused to appear at the theatre again</p>
        </div>
    </div>
</div>
