.text-center {
    text-align: center;
}
 .margin-top {
     margin-top: 40px;
 }
 .main-image {
     width: 100%;
 }
 .red-text {
     color: #f1332f;
 }
 .bolder-text {
     font-weight: 600;
     font-size: 4em;
 }
 .heading-font {
    font-family: 'Sigmar One', cursive;
 }
.faces {
    width: 80%;
}