<div class="container margin-top">
  <div class="row">
    <div class="col">
      <div class="col-12, text-center">
        <h1 class="red-text bolder-text heading-font">Welcome to Carry On Webbing</h1>
        <h4 class="red-text">Collection of Carry On Factoids</h4>
      </div>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-12 text-center">
      <img class="faces " src="{{ faces }}" alt="">
    </div>
  </div>
  <div class="row margin-top">
      <div class="col-6 col-md-4 text-center">
        <img class="main-image" src="{{ image1 }}" alt="">
      </div>
      <div class="col-6 col-md-4 text-center">
          <img class="main-image" src="{{ image2 }}" alt="">
      </div>
      <div class="col-6 col-md-4 text-center">
          <img class="main-image" src="{{ image3 }}" alt="">
      </div>
    </div>
</div>
